*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333B41; }

.heading-primary {
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  font-size: 10.6rem;
  font-weight: 700;
  line-height: 75%; }
  .heading-primary__yellow {
    color: #FFEE2E; }

.heading-secondary {
  text-align: left;
  font-size: 4.8rem; }
  .heading-secondary__orange {
    color: #F9804B;
    text-align: center; }

.heading-tertiary {
  text-align: center;
  font-size: 3.6rem; }

.heading-quaternary {
  text-align: left;
  font-size: 2.4rem; }

.paragraph {
  text-align: left;
  font-size: 1.6rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer; }

.btn-elipse {
  color: #FFFFFF;
  background-color: #F9804B;
  width: 29.8rem;
  height: 5.4rem;
  border-radius: 2.5rem; }

.btn-circle {
  color: #FFFFFF;
  background-color: #F9804B;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 5rem; }

.btn-square {
  color: #FFFFFF;
  background-color: #F9804B;
  width: 29.8rem;
  height: 5.4rem;
  border-radius: 0.7rem; }

.header {
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: #FFFFFF;
  background-color: #000000;
  padding: 1.4rem 0; }

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navigation {
  display: flex; }
  .navigation__link {
    list-style: none;
    padding: 0 2.5rem;
    cursor: pointer; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem) / 4)); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem); }

.wrapper {
  max-width: 116rem;
  margin: auto; }

.section-welcome {
  background-image: url(../img/Giant_Panda.png);
  height: 780px; }

.container-welcome {
  margin-left: 80rem; }

.btn-welcome {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translateX(-50%); }

.heading {
  height: 50rem;
  width: 40rem;
  position: relative; }

.circle {
  height: 46.5rem;
  width: 46.5rem;
  background-color: #F9804B;
  background-size: cover;
  border-radius: 50%;
  position: absolute; }
